<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      	 http://code.alibabatech.com/schema/dubbo
      	 http://code.alibabatech.com/schema/dubbo/dubbo.xsd
      	 http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/task
       	 http://www.springframework.org/schema/task/spring-task-3.0.xsd ">

     <dubbo:application name="consumer"/>
     <dubbo:registry address="zookeeper://192.168.1.230:2181"/>
     <dubbo:protocol name="dubbo" port="28820"/>
	 <!-- <producer:monitor protocol="registry"/> -->
     <dubbo:provider timeout="60000"/>
	 <dubbo:consumer timeout="60000"/>

     <!-- 生产api -->
     <!--<bean id="studentAPIImpl" class="priv.chenkai.producer.server.StudentAPIImpl"/>-->
     <!--<dubbo:service interface="priv.chenkai.producer.client.StudentAPI" ref="studentAPIImpl" delay="-1" retries="2"/>-->

     <dubbo:reference interface="priv.chenkai.producer.client.StudentAPI" id="studentAPI"/>

 </beans>